<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{path('home')}}">Accueil</a></li>
                    <li><a href="{{path('pizza_add')}}">Ajouter une pizza</a></li>
                </ul>
            </nav>
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
